@use 'hero';
@use 'components/buttons';
@use 'event';
@use 'variables';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
    color: variables.$textColor;
    list-style: none;
}


.container{
    max-width: 60rem;
    width: 100%;
    margin: 0 auto;

    @media screen and (max-width: 40rem){
        max-width: 80%;
        
    }

    @media screen and (max-width:64rem) {
        max-width: 90%;
    }
}
